@font-face {
  font-family: "BYekan";
  src: url("/assets/fonts/Yekan.eot");
  src: url("/assets/fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Yekan.woff") format("woff"),
    url("/assets/fonts/Yekan.ttf") format("truetype"),
    url("/assets/fonts/Yekan.svg#BYekan") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "BYekan" !important;
}

body,
html {
  font-weight: 300;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
