<div class="flex flex-col w-full h-full text-base">
  <div class="w-full border-b border-black h-16 p-3 flex justify-between">
    <span class="text-2xl">{{ data.message }}</span>
    <svg
      (click)="onCancel()"
      xmlns="http://www.w3.org/2000/svg"
      class="h-10 w-10 cursor-pointer"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
  <div class="flex flex-wrap w-full h-full">
    <form
      class="w-full h-full flex flex-wrap justify-around"
      [formGroup]="Form"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="false"
    >
      <mat-form-field class="w-3/2 h-16 my-3" appearance="outline">
        <mat-label>نام کاربر</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error
          *ngIf="
            Form.get('username')?.invalid &&
            (Form.get('username')?.touched || Form.get('username')?.dirty)
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-3/2 h-16 my-3">
        <mat-label>تاریخ تولد</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="birthday"
        />
        <mat-error
          *ngIf="
            Form.get('birthday')?.invalid &&
            (Form.get('birthday')?.touched || Form.get('birthday')?.dirty)
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button
              mat-raised-button
              class="p-2 rounded bg-green-500 mx-2 text-white"
              color="primary"
              matDatepickerApply
            >
              تایید
            </button>
            <button
              mat-button
              matDatepickerCancel
              class="p-2 rounded bg-orange-500 mx-2 text-white"
            >
              بستن
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <section class="flex-center h-16 w-3/2 my-3">
        <label>جنسیت :</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button color="primary" class="mx-2" value="1"
            >مرد</mat-radio-button
          >
          <mat-radio-button color="primary" class="mx-2" value="2"
            >زن</mat-radio-button
          >
        </mat-radio-group>
        <mat-error
          *ngIf="
            Form.get('gender')?.invalid &&
            (Form.get('gender')?.touched || Form.get('gender')?.dirty)
          "
        >
          Please enter a valid email address
        </mat-error>
      </section>
      <mat-form-field class="w-3/2 h-16 my-3" appearance="outline">
        <mat-label>رمز عبور </mat-label>
        <input
          matInput
          type="text"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="
            Form.get('password')?.invalid &&
            (Form.get('password')?.touched || Form.get('password')?.dirty)
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-3/2 h-16 my-3" appearance="outline">
        <mat-label>تکرار رمز عبور </mat-label>
        <input
          matInput
          type="text"
          formControlName="repeatPassword"
          type="password"
        />
        <mat-error
          *ngIf="
            Form.get('repeatPassword')?.invalid &&
            (Form.get('repeatPassword')?.touched ||
              Form.get('repeatPassword')?.dirty)
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <section class="flex-center h-16 w-3/2 my-3">
        فعالیت کاربر :
        <mat-checkbox color="primary" formControlName="activity" class="mx-2"
          >فعال
        </mat-checkbox>
      </section>
      <div class="w-full flex justify-around my-3">
        <mat-form-field class="w-5/12 h-16" appearance="outline">
          <mat-label>استان</mat-label>
          <mat-select
            formControlName="province"
            (selectionChange)="getStates(Form.value.province)"
          >
            <mat-option [value]="item.name" *ngFor="let item of cities">{{
              item.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              Form.get('province')?.invalid &&
              (Form.get('province')?.touched || Form.get('province')?.dirty)
            "
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-5/12 h-16" appearance="outline">
          <mat-label>شهر</mat-label>
          <mat-select
            [disabled]="state.length == 0 && !editMode"
            formControlName="city"
          >
            <mat-option [value]="item.name" *ngFor="let item of state">{{
              item.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              Form.get('city')?.invalid &&
              (Form.get('city')?.touched || Form.get('city')?.dirty)
            "
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="flex justify-between my-3">
    <button
      [disabled]="Form.invalid"
      type="submit"
      class="p-3 rounded-md text-lg transition-all duration-100"
      [ngClass]="
        Form.invalid
          ? 'bg-gray-200 text-black cursor-not-allowed'
          : 'bg-green-500 text-white cursor-pointer'
      "
      (click)="onSubmit()"
    >
      {{ data.submit }}
    </button>
    <button
      class="p-3 rounded-md border border-black text-lg cursor-pointer"
      (click)="onCancel()"
    >
      {{ data.cancel }}
    </button>
  </div>
</div>
