@import url("tailwindcss/base");
@import url("tailwindcss/utilities");
@import url("tailwindcss/components");
@import url("~ngx-toastr/toastr");
@import url("./assets/css/style");

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-3\/2 {
  width: 31%;
}
